.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.accordion {
	margin-top: var(--spacing, 30px);
}

.accordion__item + .accordion__item {
	margin-top: 5px;
}

.accordion__item--has-icon {
  position: relative;
}

.accordion__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  background-color: #E3E4E5;
	border-radius: 4px;
  width: 100%;
	padding: 8px calc(var(--spacing, 30px) / 2) 8px var(--spacing, 30px);
	font-weight: 700;
	color: #87888A;
	cursor: pointer;
	transition-duration: .2s;
  outline: none;
}

.accordion__title:hover {
  background-color: #DDDDDD;
}

[aria-expanded='true'].accordion__title {
	border-radius: 4px 4px 0 0;
}

.accordion__body {
	display: block;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #E3E4E5;
	border-radius: 0 0 4px 4px;
	padding: var(--spacing, 30px);
}

.accordion__body > button {
  margin-right: 10px;
}

.accordion__body--hidden {
  display: none;
  opacity: 0;
}

.accordion__title > *:last-child, .accordion__body > *:last-child {
  margin-bottom: 0;
}

.accordion__arrow {
	float: right;
	width: 30px;
	height: 30px;
}

[aria-expanded='true'] .accordion__arrow {
	transform: rotate(0deg)
}

.accordion__arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
    /* position: absolute; */
    top: 50%;
    right: 0;
    /* margin-top: -6px; */
		/* border: 1px solid red; */
}

.accordion__arrow::after, .accordion__arrow::before {
  display: block;
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: currentColor;
  content: '';
}

.accordion__arrow::before {
  left: 4px;
  transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before, [aria-selected='true'] .accordion__arrow::before {
  transform: rotate(-45deg);
}

.accordion__arrow::after {
  right: 4px;
  transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
  transform: rotate(45deg);
}

.accordion__arrow::before, .accordion__arrow::after {
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

@keyframes move-down {
  0% { transform: translateY(0); }
  10% { transform: translateY(0); }
  20% { transform: translateY(5px); }
  30% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes move-up {
  0% { transform: translateY(0); }
  10% { transform: translateY(0); }
  20% { transform: translateY(-5px); }
  30% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.accordion__title--animated:hover .accordion__arrow {
  animation-name: move-down;
  animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
  animation-name: move-up;
  animation-duration: 1.5s;
}
