.vis-timeline {
	border-color: #C5C6C8;
	border-radius: 4px;
}

.vis-panel.vis-center {
	top: 30px !important;
}

.vis-panel.vis-bottom {
	top: 0 !important;
}

.vis-time-axis > div {
	height: 30px !important;
}

.vis-time-axis .vis-text {
	padding: 5px 0 0 5px;
	font-weight: 700;
	color: #87888A;
}

.vis-time-axis .vis-grid.vis-minor {
	border-color: #ECEDED;
}

.vis-item {
	border-color: #c3c3c4 !important;
	background-color: #f1f1f2 !important;
	top: 7px !important;
	height: 35px;
}

.vis-item.vis-selected {
	border-color: #FF6600;
	background-color: #ffe0cc !important;
}
